<div>
    <div class="row container">
        <div class="col-md-3 filtre">
            <div class="filtre__titre">
                recherche
            </div>
            <form class="filter__form form">
                <div class="row form__group w-100">
                    <div class="col-md-10 mx-auto">
                        <input type="text" class="form-control form_input" id="critere"
                               placeholder="Crière de recherche" name="critere">
                    </div>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked">Checked switch checkbox input</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled">
                    <label class="form-check-label" for="flexSwitchCheckDisabled">Disabled switch checkbox input</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDisabled">
                    <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">Disabled checked switch
                        checkbox input</label>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <button type="submit" class="btn w-100 btn-primary">rechercher</button>
                    </div>
                    <div class="col-md-6">
                        <button type="reset" class="btn btn-secondary float-end">annuler</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-9">
            <div class="album mb-5">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5">
                    <div class="col">
                        <div class="card shadow-sm h-100">
                            <div class="composition h-75 d-inline-block ">
                                <img class="bg-transparent" width="100%" height="100%"
                                     src="{{ asset('assets/images/temp/asus-zenbook-14-ux434-02.png') }}"
                                     alt="asus-zenbook-14-ux434">
                            </div>
                            <div class="card-body">
                                <div class="card-text h2 nom_album">Nom</div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <span class="h6">Special title treatment</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <span class="h6">Special title treatment</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <span class="h6">Special title treatment</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <span class="h6">Special title treatment</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-light p-2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <button type="button" class="btn btn-sm btn-outline-secondary p-3">999,99 € 🛒
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary p-3">Detail 👉
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm h-100">
                            <div class="composition h-75 d-inline-block">
                                <img class="" width="100%" height="100%"
                                     src="{{ asset('assets/images/temp/asus-zenbook-14-ux434-numpad-01.png') }}"
                                     alt="asus-zenbook-14-ux434">
                            </div>
                            <div class="card-body">
                                <div class="card-text h2 nom_album">Nom</div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <span class="h6">Special title treatment</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <span class="h6">Special title treatment</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <span class="h6">Special title treatment</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <span class="h6">Special title treatment</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-light p-2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <button type="button" class="btn btn-sm btn-outline-secondary p-3">999,99 € 🛒
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary p-3">Detail 👉
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm h-100">
                            <div class="composition h-75 d-inline-block">
                                <img class="" width="100%" height="100%"
                                     src="{{ asset('assets/images/temp/asus-zenbook-14-ux434-numpad-02.png') }}"
                                     alt="asus-zenbook-14-ux434">
                            </div>
                            <div class="card-body">
                                <div class="card-text h2 nom_album">Nom</div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <span class="h6">Special title treatment</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <span class="h6">Special title treatment</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <span class="h6">Special title treatment</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <span class="h6">Special title treatment</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-light p-2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <button type="button" class="btn btn-sm btn-outline-secondary p-3">999,99 € 🛒
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary p-3">Detail 👉
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>