{# ==>FOOTER #}
<footer class="pt-4 pt-md-5 border-top footer py-3 bg-light sticky-top">
    <div class="row">
        <div class="col-12 col-md text-center my-auto">
            <img class="mb-3" src="{{ asset('assets/images/app/bootstrap-logo.svg') }}" alt="bootstrap-logo"
                 width="35" height="30">
            <img class="mb-3" src="{{ asset('assets/images/app/symfony.svg') }}" alt="symfony-logo"
                 width="35" height="30">
            <img class="mb-3" src="{{ asset('assets/images/app/mariadb.svg') }}" alt="mariadb-logo"
                 width="35" height="30">
            <small class="d-block mb-3 text-muted">&copy; 2017-2021</small>
        </div>
        <div class="col-6 col-md">
            <h5 class="text-white text-uppercase">Features</h5>
            <ul class="list-unstyled text-small">
                <li>
                    <a class="link-warning" href="#">Cool stuff</a>
                </li>
                <li>
                    <a class="link-warning" href="#">Random feature</a>
                </li>
                <li>
                    <a class="link-warning" href="#">Team feature</a>
                </li>
                <li>
                    <a class="link-warning" href="#">Stuff for developers</a>
                </li>
                <li>
                    <a class="link-warning" href="#">Another one</a>
                </li>
                <li>
                    <a class="link-warning" href="#">Last time</a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5 class="text-white text-uppercase">Resources</h5>
            <ul class="list-unstyled text-small">
                <li>
                    <a class="link-warning" href="#">Resource</a>
                </li>
                <li>
                    <a class="link-warning" href="#">Resource name</a>
                </li>
                <li>
                    <a class="link-warning" href="#">Another resource</a>
                </li>
                <li>
                    <a class="link-warning" href="#">Final resource</a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5 class="text-white text-uppercase">About</h5>
            <ul class="list-unstyled text-small">
                <li>
                    <a class="link-warning" href="#">Team</a>
                </li>
                <li>
                    <a class="link-warning" href="#">Locations</a>
                </li>
                <li>
                    <a class="link-warning" href="#">Privacy</a>
                </li>
                <li>
                    <a class="link-warning" href="#">Terms</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center mt-2 text-white small">
            <div>&copy; Copyright 2021 par Joachim ZADI.</div>
            <div>
                Ce projet est réalisé dans un but pédagogique. Nous avons utilisé Symfony 5 et Bootstrap 5-beta
                pour la mise en &oelig;uvre.
            </div>
        </div>
    </div>
</footer>
{# FOOTER==> #}
