.bd-placeholder-img {
  font-size: 1.125 * $mesure-principal;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5 * $mesure-principal;
  }
}