$couleur-principale: #fff;
$couleur-principale-clair: #FF3366;
$couleur-principale-sombre: #BA265D;

$couleur-gris-clair-1: #faf9f9;
$couleur-gris-clair-2: #f4f2f2;
$couleur-gris-clair-3: #f0eeee;
$couleur-gris-clair-4: #ccc;

$couleur-gris-sombre-1: #333;
$couleur-gris-sombre-2: #777;
$couleur-gris-sombre-3: #999;

$couleur-bleu-clair-1: #42a5f5;
$couleur-bleu-clair-2: #64b5f6;
$couleur-bleu-clair-3: #90caf9;
$couleur-bleu-clair-4: #bbdefb;

$couleur-bleu-sombre-1: #1565c0;
$couleur-bleu-sombre-2: #1976d2;
$couleur-bleu-sombre-3: #1e88e5;

$ombre-sombre: 0 2rem 6rem rgba(0, 0, 0, .3);
$ombre-clair: 0 2rem 5rem rgba(0, 0, 0, .06);

$ligne: 1px solid $couleur-gris-clair-2;

$mesure-principal: 1rem;
